<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6 welcome-message">
        <h1>Welcome, <%= username %></h1><!--EJS reference to Usernames-->
        <br>
        <br>
        <br>
        <br>

        <!-- Card One: Exercise History-->
        <div class="card dashboard-card" style="width: 18rem;"> 
          <img 
          src="https://i.ytimg.com/vi/W23xfdEqHtg/maxresdefault.jpg" class="card-img-top" alt="..."
          alt="Logo"
          width="30px"
          />
          <div class="card-body">
            <h5 class="card-title">Exercise History</h5>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Select a body part
              <span class="caret"></span></button>
              <ul class="dropdown-menu">

                <!-- CHEST BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ChestModal">
                    Chest</a></li>
                <!-- BACK BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#BackModal">
                    Back</a></li>
                <!-- ARMS BUTTON MODAL-->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ArmsModal">
                    Arms</a></li> 
                <!-- ARMS BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ShouldersModal">
                    Shoulders</a></li>
                <!-- LEGS BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#LegsModal">
                    Legs</a></li>
                
              </ul>
            </div>
          </div>
        </div>

        <!-- Spacing -->
        <br>
        <br>

        <!-- Chest Modal -->
        <div class="modal fade" id="ChestModal" tabindex="-1" role="dialog" aria-labelledby="#ChestModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="ChestModalTitle">Chest History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- CHEST TABLE -->
                <table class="table">
                  <!-- TABLE HEADER -->
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 
                        if(item.muscle == 'Chest'){ 
                          buttons += '<tr><th scope="col">' + item.day + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>   
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Back Modal -->
        <div class="modal fade" id="BackModal" tabindex="-1" role="dialog" aria-labelledby="#BackModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="BackModalTitle">Back History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Back Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 
                        if(item.muscle == 'Back'){ 
                          buttons += '<tr><th scope="col">' + item.day + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Arms Modal -->
        <div class="modal fade" id="ArmsModal" tabindex="-1" role="dialog" aria-labelledby="#ArmsModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="ArmsModalTitle">Arms History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Arms Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 
                        if(item.muscle == 'Arms'){ 
                          buttons += '<tr><th scope="col">' + item.day + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Shoulders Modal -->
        <div class="modal fade" id="ShouldersModal" tabindex="-1" role="dialog" aria-labelledby="#ShouldersModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="ShouldersModalTitle">Shoulders History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <!-- Shoulders Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 
                        if(item.muscle == 'Shoulders'){ 
                          buttons += '<tr><th scope="col">' + item.day + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Legs Modal -->
        <div class="modal fade" id="LegsModal" tabindex="-1" role="dialog" aria-labelledby="#LegsModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="LegsModalTitle">Legs History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <!-- Legs Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 
                        if(item.muscle == 'Legs'){ 
                          buttons += '<tr><th scope="col">' + item.day + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <!--Card #2: Weight Progrssion-->
        <div class="card dashboard-card" style="width: 18rem;">

          <img 
          src="https://thumbs.dreamstime.com/b/retro-kitchen-scales-cooking-utensils-isolate-icon-food-measuring-device-isolated-color-line-vector-weighing-libra-appliances-232313005.jpg" 
          class="card-img-top" 
          alt="..."
          height=" 200px"
          >

          <div class="card-body">

            <!-- Button trigger modal -->
            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#weightGoal">
              Body Weight Progress
            </button>
          </div>
        </div>

        <!-- Weight Proggress Modal -->
        <div class="modal fade" id="weightGoal" tabindex="-1" aria-labelledby="#weightGoalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fs-5 modal-text" id="weightGoalLabel"> Weight Proggression </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Source for Scatter Plot -->
                    <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                    </script>

                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

                <!-- The chart -->
                    <script> 
                      var xyValues = [
                        {x:50, y:7},
                        {x:60, y:8},
                        {x:70, y:8},
                        {x:80, y:9},
                        {x:90, y:9},
                        {x:100, y:9},
                        {x:110, y:10},
                        {x:120, y:11},
                        {x:130, y:14},
                        {x:140, y:14},
                        {x:150, y:15}
                      ];

                      new Chart("myChart", { 
                        type: "scatter",
                        data: {
                          datasets: [{
                            pointRadius: 4,
                            pointBackgroundColor: "rgba(0,0,255,1)",
                            data: xyValues
                          }]
                        },
                      });
                    </script>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Spacing -->
        <br>
        <br>

        <!--Card #3: Water Intake-->
        <div class="card dashboard-card" style="width: 18rem;"> 
          <img 
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Man_Drinking_Water_Cartoon.svg/800px-Man_Drinking_Water_Cartoon.svg.png" class="card-img-top"
          alt="Logo"
          width="30px"
          />
          <h5 class="card-title">Water History</h5>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"> Select a time frame
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Week</a></li>
                <li><a href="#">Month</a></li>
                <li><a href="#">Year</a></li>
              </ul>
            </div>
            <br>
          </div>
        <br>
        <br>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>