<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-md-auto">
        <h1>Welcome, <%= username %></h1><!--EJS reference to Usernames-->
        <br>
        <br>
        <br>
        <br>

        <!-- Card One: Exercise History-->
        <div class="card dashboard-card"> 
          <img 
          src="https://i.ytimg.com/vi/W23xfdEqHtg/maxresdefault.jpg" class="card-img-top" alt="..."
          alt="Logo"
          />
          <div class="card-body">
            <h5 class="card-title">Exercise History</h5>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Select a body part
              <span class="caret"></span></button>
              <ul class="dropdown-menu">

                <!-- CHEST BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ChestModal">
                    Chest</a></li>
                <!-- BACK BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#BackModal">
                    Back</a></li>
                <!-- ARMS BUTTON MODAL-->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ArmsModal">
                    Arms</a></li> 
                <!-- ARMS BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ShouldersModal">
                    Shoulders</a></li>
                <!-- LEGS BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#LegsModal">
                    Legs</a></li>
                
              </ul>
            </div>
          </div>
        </div>

        <!-- Spacing -->
        <br>
        <br>
        
        <!-- Chest Modal -->
        <div class="modal fade" id="ChestModal" tabindex="-1" role="dialog" aria-labelledby="#ChestModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="ChestModalTitle">Chest History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- CHEST TABLE -->
                <table class="table">
                  <!-- TABLE HEADER -->
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 

                        let day_t = (item.day).toString().substring(0, 10);

                        if(item.muscle == 'Chest'){ 
                          buttons += '<tr><th scope="col">' + day_t + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>   
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Back Modal -->
        <div class="modal fade" id="BackModal" tabindex="-1" role="dialog" aria-labelledby="#BackModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="BackModalTitle">Back History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Back Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 

                        let day_t = (item.day).toString().substring(0, 10);

                        if(item.muscle == 'Back'){ 
                          buttons += '<tr><th scope="col">' + day_t + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Arms Modal -->
        <div class="modal fade" id="ArmsModal" tabindex="-1" role="dialog" aria-labelledby="#ArmsModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="ArmsModalTitle">Arms History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Arms Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 

                        let day_t = (item.day).toString().substring(0, 10);

                        if(item.muscle == 'Arms'){ 
                          buttons += '<tr><th scope="col">' + day_t + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Shoulders Modal -->
        <div class="modal fade" id="ShouldersModal" tabindex="-1" role="dialog" aria-labelledby="#ShouldersModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="ShouldersModalTitle">Shoulders History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <!-- Shoulders Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 

                        let day_t = (item.day).toString().substring(0, 10);

                        if(item.muscle == 'Shoulders'){ 
                          buttons += '<tr><th scope="col">' + day_t + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Legs Modal -->
        <div class="modal fade" id="LegsModal" tabindex="-1" role="dialog" aria-labelledby="#LegsModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text" id="LegsModalTitle">Legs History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <!-- Legs Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (rows) { 
                    var buttons = '';
                    var i = 0;
                    rows.forEach(function(item){
                      if (i < 5) { 

                        let day_t = (item.day).toString().substring(0, 10);

                        if(item.muscle == 'Legs'){ 
                          buttons += '<tr><th scope="col">' + day_t + '</th><td>' + 
                                      item.exercise + '</td><td>' + item.weight + '</td><td>' + 
                                      item.sets + '</td><td>' + item.reps + '</td></tr>';
                          i++; 
                        }
                      }
                  }); %>
                  <%- buttons %> 
                  <% } %>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <!--Card #2: Weight Progrssion-->
        <div class="card dashboard-card">

          <img 
          src="https://thumbs.dreamstime.com/b/retro-kitchen-scales-cooking-utensils-isolate-icon-food-measuring-device-isolated-color-line-vector-weighing-libra-appliances-232313005.jpg" 
          class="card-img-top" 
          alt="..."
          /* height=" 200px" */
          >

          <div class="card-body">

            <!-- Button trigger modal -->
            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#weightGoal">
              Body Weight Progress
            </button>
          </div>
        </div>

        <!-- Weight Progress Modal -->
        <div class="modal fade" id="weightGoal" tabindex="-1" aria-labelledby="#weightGoalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fs-5 modal-text" id="weightGoalLabel"> Weight Progression </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Source for Scatter Plot -->
                    <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                    </script>
                    
                    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>

                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    
                    <script
                    src="https://www.gstatic.com/charts/loader.js">
                    </script>

                 <!-- The chart -->
                    
                    <script> 
                      
                      const rowsHold = JSON.parse('<%- JSON.stringify(rows) %>');

                      var i = 0;
                      var xyValues = [

                      rowsHold.forEach(function(iteam){

                        let bw_day_t = (iteam.bw_day).toString().substring(0, 10);
                        let body_weight = iteam.body_weight;

                         if (i < 10)
                          {
                            {body_weight, bw_day_t};

                            i++;
                          }
                      })
                    ] 

                    new Chart("myChart", {
                      type: "scatter",
                      data: {
                        datasets: [{
                          pointRadius: 4,
                          pointBackgroundColor: "rgba(0,0,255,1)",
                          data: xyValues
                        }]
                      },
                    });
              
                </script>
                
                <!-- Spacing -->
                <br>
                <br>

                <!-- Set new Goal -->
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      Goal Weight:
                    </div>
                    <div class="col">
                      <% rows.body_weight_goal %>
                    </div>
                  </div>
                </div>
                
                <!-- Spacing -->
                <br>
                <br>

                <!-- Pounds left to go  -->
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      Pounds left to go:
                    </div>
                    <div class="col">
                     <% rows.body_weight_goal - rows.body_weight%>
                    </div>
                  </div>
                </div>

                <!-- Spacing -->
                <br>
                <br>

                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#bodyWeightGoalSetModal">
                  Set New Body Weight Goal
                </button>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Body WeightGoals Set Modal  -->
        <div class="modal fade" id="bodyWeightGoalSetModal" tabindex="-1" aria-labelledby="bodyWeightGoalSetModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="bodyWeightGoalSetModalLabel"> SetNew Body Weight Goal </h1>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span> </button>
              </div>
              <div class="modal-body">
                <div class="input-group input-group-default mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">New Body Weight Goal</span>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  <span class="input-group-text">lbs</span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Spacing -->
        <br>
        <br>

        <!--Card #3: Water Intake-->
        <div class="card dashboard-card"> 
          <img 
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Man_Drinking_Water_Cartoon.svg/800px-Man_Drinking_Water_Cartoon.svg.png" class="card-img-top"
          alt="Logo"
          width="30px"
          />
          <h5 class="card-title">Water History</h5>
          <div class="card-body">
            <!-- Button trigger modal -->
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Water Analytics
              </button>
          </div>
        </div>

        <!-- Water Analytics Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span> </button>
              </div>
              <div class="modal-body">
                    
                <!-- Source for Scatter Plot -->
                    <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                    </script>
                    
                    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>

                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    
                    <script
                    src="https://www.gstatic.com/charts/loader.js">
                    </script>

                    <!-- Chart -->
                    <script> 
                      
                      const rowsHol = JSON.parse('<%- JSON.stringify(rows) %>');

                      var i = 0;
                      var xyValues = [

                      rowsHold.forEach(function(iteam){

                        let bw_day_t = (iteam.bw_day).toString().substring(0, 10);
                        let body_weight = iteam.body_weight;

                         if (i < 10)
                          {
                            {body_weight, bw_day_t};

                            i++;
                          }
                      })
                    ] 

                    new Chart("myChart", {
                      type: "scatter",
                      data: {
                        datasets: [{
                          pointRadius: 4,
                          pointBackgroundColor: "rgba(0,0,255,1)",
                          data: xyValues
                        }]
                      },
                    });
              
                    </script>

                    <br>
                    <br>

                    <!-- Set new Goal -->
                    <div class="container text-center">
                      <div class="row">
                        <div class="col">
                          Gaol Daily Water Intake:
                        </div>
                        <div class="col">
                          <% rows.body_weight_goal%>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Spacing -->
                    <br>
                    <br>

                    <!-- Average Water Intake  -->
                    <div class="container text-center">
                      <div class="row">
                        <div class="col">
                          Average Daily Water Intake:
                        </div>
                        <div class="col">
                        
                        </div>
                      </div>
                    </div>

                    <!-- Spacing -->
                    <br>
                    <br>

                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#dailyWaterGoalSetModal">
                      Set New Daily Water Goal
                    </button>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Daily Water Intake Goal Reset -->
        <div class="modal fade" id="dailyWaterGoalSetModal" tabindex="-1" aria-labelledby="dailyWaterGoalSetModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="dailyWaterGoalSetModalLabel">Set New Daily Water Goal</h1>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span> </button>
              </div>
              <div class="modal-body">
                <div class="input-group input-group-default mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">New Daily Water Goal</span>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  <span class="input-group-text">cups</span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>