<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div class="container">
        <!-- TABLE DEFINITION -->
        <table class="table">
            <!-- TABLE HEADER -->
            <thead>
                <th>Day</th>
                <th>Muscle</th>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Sets</th>
                <th>Reps</th>
            </thead>
            <!-- TABLE BODY -->
            <tbody>
            <!-- Loop for each exercise -->
            <% fitness.forEach(fitness => { %>
                <tr>
                    <form> <td> <%= fitness.day.toString().substring(0, 10) %> </td> </form>
                    <form> <td> <%= fitness.muscle %> </td> </form>
                    <form> <td> <%= fitness.exercise %> </td> </form>
                    <form> <td> <%= fitness.weight %> </td> </form>
                    <form> <td> <%= fitness.sets %> </td> </form>
                    <form> <td> <%= fitness.reps %> </td> </form>
                    <td>
                        <!-- IF DELETE -->
                        <% if(locals.action == "delete") { %>
                            <form action = "/delete_exercise" method = "POST"> <!-- Routes to the /course/delete route in the sql server -->
                            <td><button type = "submit" class = "btn btn-outline-danger">Delete</button></td> <!-- Submit button that will be used to delete a course -->
                            <input type = "hidden" name = "course_id" value = "<%= fitness.day %> "></input>
                            <input type = "hidden" name = "course_id" value = "<%= fitness.muscle %> "></input>
                            <input type = "hidden" name = "course_id" value = "<%= fitness.exercise %> "></input>
                            <input type = "hidden" name = "course_id" value = "<%= fitness.weight %> "></input>
                            <input type = "hidden" name = "course_id" value = "<%= fitness.sets %> "></input>
                            <input type = "hidden" name = "course_id" value = "<%= fitness.reps %> "></input>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>